{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Create Author</title>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <style>
        .form-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-container h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-container .form-group {
            margin-bottom: 15px;
        }

        .form-container .form-control {
            border-radius: 4px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        .form-container .btn-primary {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            font-size: 16px;
        }

        .form-container .alert {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="form-container" style="margin-top: 100px">
        <h1>Create Author</h1>
        <form method="post" action="{% url 'books-create-author' %}">
            {% csrf_token %}
            {% include 'form_author.html' with form=form %}
        </form>
    </div>
{% endblock %}

{% block search %}
{% endblock %}
